# Database and service data (MUST BE FIRST - local dev only)
postgres-data/
postgres-data
esdata/
esdata

# Git files
.git
.gitignore
.gitattributes
.github

# Environment files
.env*
!/.env*.erb

# Rails secrets
/config/master.key
/config/credentials/*.key

# Dependencies
/vendor/bundle
vendor/bundle
/node_modules
node_modules/
.bundle

# Logs
log
log/*
!log/.keep
**/*.log

# Temporary files
tmp
tmp/*
!tmp/.keep
tmp/db/*
tmp/db

# Storage
storage
storage/*
!storage/.keep

# Assets
app/assets/builds/*
!app/assets/builds/.keep
public/assets
public/packs

# Docker
.dockerignore
Dockerfile*
.devcontainer

# Testing
coverage
.rspec