.git
.gitignore
.github
postgres-data/
esdata/
log/
tmp/
storage/
.env*
config/master.key
config/credentials/*.key
vendor/bundle
node_modules/
coverage/
public/assets
public/packs
.devcontainer
deploy*.sh
docs/
